<h1>There are your tools for portfolio <%= Portfolio.find_by(user_id:session[:user_id]).name_p%></h1>
<table>
    <thead>
        <tr>
            <th width ="35%" align="center">Name</th>
            <th width ="20%" align="center">Currency</th>
            <th colspan = "2" align="center">Actions</th>
        </tr>
    </thead>
    <tbody>
    <% for @tool in Tool.where(p_id:session[:curr_port]) %>
    <tr align="center">
    
        <td width="35%"><%= @tool.name %></td>

    </tr>
    <%end%>
    </tbody>
</table>

<%=link_to "Create tool", "/tool/new"%>